@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
  font-family:digital-7;
  src: url('digital-7.ttf');
}

:root{
  --light-color:#FFC312;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: #2C3A47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  gap: 50px;
}

h2{
  color:#f9ca24;
  font-size: 50px;
  font-weight: 500;
}

.frame{
  width: 600px;
  height: 300px;
  background-color: #111;
  border: 50px solid #f9ca24;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  font-size:80px;
  text-align: center;
  line-height: 180px;
}

.clock{
  font-family:digital-7;
  color:white;
  text-shadow: 0 0 20px var(--light-color);
  position: relative;
}
.clock::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color:var(--light-color);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  filter: blur(40px);
}

