@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/img.jpg');
  color:#fff;
  background-size: cover;
  background-position: center;
}


.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

p{
  font-size: 13px;
}

.newyear{
  font-family: 'Inspiration', cursive;
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
}

.box{
  width: 50px;
  height: 50px;
  text-align: center;
}

.box h2{
  font-size: 20px;
  font-weight: 500;
}
.box small{
  font-size: 10px;
}

@media (min-width:576px) {
  .newyear{
    font-size: 100px;
  }
  p{
    font-size: 18px;
  }
  .box h2{
    font-size: 30px;
  }
  .box{
    width: 100px;
    height: 70px;
  }
  .box small{
    font-size:15px;
  }
}


@media (min-width:768px) {
  .newyear{
    font-size: 150px;
  }
  
  p{
    font-size: 25px;
  }
  .box h2{
    font-size: 50px;
  }

  .box{
    width: 150px;
    height: 100px;
  }

  .box small{
    font-size:20px;
  }
}